body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background-color: rgb(171, 255, 171);
}

.logo {
    margin-left: 24px;
}
.nav-links {
  display: flex;
  gap: 12px;
  margin-right: 24px;
}

.main {
  background-color: red;
}
